body {background: rgb(9, 85, 110); }
h1 {color: rgb(210, 232, 46);}
button {border-radius: 90px; border: 4px solid #e3a427;}
button {background-color: rgb(227, 239, 142);}
#page {
    max-width: 900px;
    margin: 0 auto 0 auto;
    background: rgb(246, 255, 174);
    padding: 30px;
}

.top-section {
    display: flex;
    gap: 30px;
    align-items: flex-start;
    margin: 0 0 25px 0;
}

#introduction {
    background: #3b6ed3;
    padding: 20px;
    border-left: 6px solid #1d1184;
    flex: 2;
}

#introduction h2 {
    font-style: italic;
    margin-top: 0;
}

#introduction p {
    font-size: 120%;
    line-height: 1.5;
}

.profile {
    text-align: center;
    flex: 1;
}

.profile img {
    width: 220px;
    border-radius: 12px;
}

.profile p {
    font-size: 200%;
}

.navigation {
    background: #f1ff94;
    padding: 20px;
    border-radius: 20px;
}

.navigation h2 {
    margin-top: 9px;
}

.navigation li {
    margin-bottom: 80px;
}

.navigation a {
    color: #5ad2ea;
    font-weight: bold;
}